* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: rgb(51, 51, 51);
    background-color: #e8e8e8;
}

ul {
    list-style-image: url(check_icon_green.png); /* Путь к изображению маркера */
   }

.containers {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px 0 30px 0;
    line-height: 34px;
}

.container-list-1 {
    margin-bottom: 30px;
}

.list-1 li:first-child{
    text-decoration: line-through;
}

.list-1 li:nth-child(2){
    font-weight: 700;
}

.list-1 li:nth-child(3){
    font-style: italic;
}

.list-1 li:nth-child(4){
    text-transform: uppercase;    /* Как сделать так чтобы это свойство не смещало блок?? */
    margin-bottom: 60px;
}

.list-2 li:nth-child(2):hover{
    color: red;
    list-style-image: url(check_icon_red.png);
}

.my-form {
    display: flex;
    justify-content: center;
    align-items: center;
}


.text-input {
    width: 300px;
    height: 50px;
    border: 2px solid #9b9b9b;
    margin: 0px 0px 30px 0px;
    padding-left: 10px;
    padding-top: -10px;
    font-size: 15px;
    text-transform: capitalize;

}

.text-input:focus{
    border: 2px solid rgb(108, 188, 219);
    box-shadow: 0 0 20px rgba(127, 190, 213, 0.93);
}


.text-button {
    display: flex;
    text-transform: uppercase;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-right: 15px;
    width: 200px;
    height: 45px;
    border-radius: 20px;
    background-color: #80b7b3;
    color: white;
    letter-spacing: 2.8px;
    box-shadow: 0 6px 40px rgba(128, 183, 179, 0.54);
    background-image: url(Shape_2.png);
    background-repeat: no-repeat;
    background-position: right;
    background-position: 86%;
}

.text-button:hover{
    background-color: #3a5856;
    cursor: pointer;
}

.text-button:active {
   background-color: #818181;
}